:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.active{
  border-left: 10px solid #1b2d36;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

